_site/
.quarto/
.freeze/
.ipynb_checkpoints/
.obsidian/
.venv/
__pycache__/
.DS_Store
_site-*/

/.quarto/
**/*.quarto_ipynb
.local-state/
.tools/
.sass-cache/
.jekyll-metadata
publications/_entries.qmd
publications/_reviews.qmd
Gemfile.lock
20200806.peroba/perobaDB.0730.html
20200806.peroba/0716
